<html lang="fr">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
    </head>
    <body>
        <a href="/">Accueil</a>
        <a href="/blog/">Blog</a>
        <a href="/about/">A propos</a>
        
        <h1>Blog</h1>
        <h2>Mes idées</h2>
        <p>Je vais essayer de partager mes idées ici.</p>
        <p>C'est ici que seront publiés mes articles, le plus régulièrement possible.</p>
    </body>
</html></footer>
