---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true })); 
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>  
    <h2>Mes idées</h2>
    <p>Je vais essayer de partager mes idées ici.</p>
    <p>C'est ici que seront publiés mes articles, le plus régulièrement possible.</p>
    <ul>
        {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>