---
const { title } = Astro.props;
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
---

<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
    <h1>{title}</h1>
</header>